body{
    background-color: aliceblue;
    background-image: url(./image/qijx.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position: bottom;
}

h1{
    text-align:center;
    font-family: 'Arvo', serif;
}

#container{
    display:flex;
    justify-content:center;
    align-items:center;
    align-self:center;
    width:100%;
    height:498px;
    position:relative;
}
#circles{
    display: grid;
    width : 160px;
    height : 498px;
    margin-left:auto;
    margin-right:auto;
    grid-template-columns: repeat(5, 27px);
    grid-template-rows: repeat(20, 25px);
    align-items: center;
    clear:both;
    position: absolute;
}

#grid-item1{
    grid-column: 1;
    grid-row:5;
    clip-path: circle(50%);
    width: 50px;
    height: 50px;
    background:black;
    opacity: 0.7;    
}

#grid-item2{
    grid-column: 5;
    grid-row:9;
    clip-path: circle(50%);
    width: 50px;
    height: 50px;
    background:black;
    opacity: 0.7;
}

#grid-item3{
    grid-column: 1;
    grid-row:10;
    clip-path: circle(50%);
    width: 50px;
    height: 50px;
    background:black;
    opacity: 0.7;
}

#grid-item4{
    grid-column:4;
    grid-row:11;
    clip-path: circle(50%);
    width: 50px;
    height: 50px;
    background:black;
    opacity: 0.7;
}

#grid-item5{
    grid-column:2;
    grid-row:15;
    clip-path: circle(50%);
    width: 50px;
    height: 50px;
    background:black;
    opacity: 0.7;

}

#grid-item6{
    grid-column:4;
    grid-row:19;
    clip-path: circle(50%);
    width: 50px;
    height: 50px;
    background:black;
    opacity: 0.7;
}

#grid-item1:hover{
    grid-column:1;
    grid-row:5;
    clip-path: circle(50%);
    width: 50px;
    height: 50px;
    background:red;
    opacity: 0.7;
}

#grid-item2:hover{
    grid-column:5;
    grid-row:9;
    clip-path: circle(50%);
    width: 50px;
    height: 50px;
    background:red;
    opacity: 0.7;
}
#grid-item3:hover{
    grid-column:1;
    grid-row:10;
    clip-path: circle(50%);
    width: 50px;
    height: 50px;
    background:red;
    opacity: 0.7;
}

#grid-item4:hover{
    grid-column:4;
    grid-row:11;
    clip-path: circle(50%);
    width: 50px;
    height: 50px;
    background:red;
    opacity: 0.7;
}

#grid-item5:hover{
    grid-column:2;
    grid-row:15;
    clip-path: circle(50%);
    width: 50px;
    height: 50px;
    background:red;
    opacity: 0.7;
}

#grid-item6:hover{
    grid-column:4;
    grid-row:19;
    clip-path: circle(50%);
    width: 50px;
    height: 50px;
    background:red;
    opacity: 0.7;
}

.text1{
    display: none;
}

.text2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:200px;
    height: 498px;
    margin-left: 380px;
    font-family: 'Arvo', serif;
    text-align: center;
}